<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>KoGPT2 DINO</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<script type="text/javascript">
    let time_obj = undefined;
    let flag = undefined;
    let text_list = undefined;
    let idx = undefined;

    window.onload = () => {
        time_obj = document.getElementById("timer");
        text_list = document.getElementById("text_list");
        flag = false;
        idx = 0;
        add_text();
    }

    function double_submit_check() {
        if (flag) {
            console.log("double");
            return true;
        }
        else {
            flag = true;

            return false;
        }
    }


    // 텍스트박스 추가
    function add_text() {
        let new_text = document.createElement("label");

        new_text.id = `list_${idx}`;
        new_text.className = "wrapper";
        new_text.innerHTML = make_input_box();
        new_text.style.width = "100%"

        let br = document.createElement("br");

        text_list.appendChild(new_text);
        text_list.appendChild(br);
    }


    // Select 리스트 동적추가 함수
    function make_input_box(){
        input_box = `Text: <input type="text" class="text" maxlength="128" style="width:250pt">`;

        idx += 1;

        return input_box;
    }


    // 전처리 옵션항목 제거
    function remove_text(){
        if (text_list.childElementCount / 2 > 1) {
            text_list.removeChild(text_list.lastChild);
            text_list.removeChild(text_list.lastChild);
            idx -= 1;
        }
    }


    function get_texts() {
        let nodes = text_list.getElementsByClassName("text");
        let texts = "";

        for (let i=0; i < nodes.length; i++) {
            let text = nodes[i].value;

            texts += `${text}\n`;
        }

        return texts;
    }


    function send_req() {
        if (double_submit_check()){
            return ;
        }

        const text = get_texts();

        if (text == '') {
            document.getElementById('warning').innerText = 'Please fill text!';
            flag = false;
            return ;
        }

        const formData = new FormData();
        const url = "/gen";
        let start = 0;

        formData.append('text', text);

        timer = setInterval(() => {
            start += 1;
            time_obj.innerText = `${start / 10} 's`;
        }, 100);

        fetch (url, { method: 'POST', body: formData, })
        .then(response => {
            if (response.status === 200) {
                return response.json();
            } else {
                clearInterval(timer);
            }
        }).catch(err => {
            clearInterval(timer);
            flag = false;
            document.getElementById('warning').innerText = err;
        }).then(data => {
            const table = document.getElementById('generated');

            // 기존 내용 삭제
            while (table.hasChildNodes()) {
                table.removeChild(table.lastChild);
            }

            const table_head = table.insertRow();
            const head_1 = table_head.insertCell(0);
            const head_2 = table_head.insertCell(1);
            const head_3 = table_head.insertCell(2);
            
            table_head.style.textAlign = "center";
            head_1.style.width = "10%";
            head_2.style.width = '80%';
            head_2.style.height = '60pt';
            head_3.style.width = "10%";
            
            head_1.innerHTML = 'Index';
            head_2.innerHTML = 'DINO text';
            head_3.innerHTML = 'Label';

            for (i in data) {
                const row = table.insertRow();
                const idx = row.insertCell(0);
                const text = row.insertCell(1);
                const label = row.insertCell(2);

                text.style.height = '60pt';

                idx.innerHTML = i;
                text.innerHTML = `${data[i]['text_a']}<br>&nbsp;↳&nbsp;&nbsp;${data[i]['text_b']}`;
                label.innerHTML = data[i]['label'];
            }

            clearInterval(timer);
            time_obj.innerText = 'Done!';
            flag = false;
        }).catch(err => {
            clearInterval(timer);
            flag = false;
            document.getElementById('warning').innerText = err;
        });
    }

</script>
<body>
    <div class="styles">
        <style>
                #button, .text{
                    border-top-left-radius: 5pt;
                    border-top-right-radius: 5pt;
                    border-bottom-left-radius: 5pt;
                    border-bottom-right-radius: 5pt;
                }

                table {
                  border-spacing: 10px;
                  border-collapse: separate;
                }

        </style>
    </div>
    <div class="container">
        <div class="jumbotron mt-3">
            <div class="intro">
                <br>
                <!-- Project title -->
                <h1>KoGPT2 DINO</h1><br>
                <a>Original repository : <a href="https://github.com/soeque1" target="_blank">soeque1</a> / <a href="https://github.com/soeque1/KoGPT2-DINO" target="_blank">KoGPT2-DINO</a></a><br>
                <a>My repository : </a><a href="https://github.com/fpem123/KoGPT2-DINO" target="_blank">fpem123 / KoGPT2-DINO</a><br>
                <a>Open API : </a><a href="https://ainize.ai/fpem123/KoGPT2-DINO?branch=main" target="_blank">On Ainize</a><br><br>
            </div>

            <hr width="90%">

            <div class="Notice">
                <h3>Notice</h3>
                <ul>
                    <li>soeque1 님의 KoGPT2 를 이용한 Datasets from Instructions (DINO 🦕)를 사용해볼 수 있습니다.</li>
                    <li>Text에 생성될 문장의 base 가 될 글을 입력합니다.</li>
                    <li>ADD 버튼으로 문장을 추가할 수 있습니다.</li>
                    <li>Label 0: 다른 주제 문장</li>
                    <li>Label 1: 유사 의미 문장</li>
                    <li>Label 2: 동일 의미 문장</li>
                </ul>
            </div>

            <br><hr width="90%">

            <div class="sample">
                <h3><label>Example</label></h3>
                <h5><label>Input</label></h5>
                <label>&nbsp;&nbsp;Text: 게 껍데기는 딱딱해서 동물들이 먹을 수 없다.<br>
                <label>&nbsp;&nbsp;Text: 게임 중에는 반응을 해드릴 수 없습니다.<br>
                <label>&nbsp;&nbsp;Text: 잠시 작은 소란이 있었습니다.<br><br>
                <h5><label>DINO text table</label></h5>
                <img src="../static/sample.png" width="80%">
            </div>

            <br><hr width="90%">

            <div class="generate">
                <h3>Try it!</h3><br>
                <label id="text_list" style="width:350px;"></label>
                <label>&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <button class="btn btn-primary btn=lg" type="submit" id="add_btn" onclick="add_text();">ADD</button>
                <button class="btn btn-primary btn=lg" type="submit" id="del_btn" onclick="remove_text();">DEL</button><br><br>
                <button class="btn btn-primary btn=lg" type="submit" id="button" onclick="send_req();">submit</button><br>
                <b><label id="warning" style="color:red;"></label></b>
            </div>

            <br><hr width="90%">

            <div class="result">
                <h3><label>Result</label>&nbsp;&nbsp;&nbsp;<label id="timer"></label></h3>
                <h5><label>DINO text table</label></h5>
                <!-- Generate result table -->
                <table id="generated" width="100%"></table>
            </div>

            <br><hr width="50%">
        </div>
    </div>
</body>
</html>